name: Cypress Tests

on:
  push:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses:  actions/checkout@v4.1.7
      - name: Cypress run
        uses: cypress-io/github-action@v6.5.0

      - name: Upload Videos
        uses: actions/upload-artifact@v2
        with:
          name: cypress-videos
          path: cypress/videos
    
