name: Cypress Tests

on:
  push:
    branches:
      - master

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.7
      - name: Cypress.io  
        uses: cypress-io/github-action@v6.5.0
        with:
          start: npm start
